<div class="container-fluid d-flex justify-content-center align-items-center" id="mt">
    <form method="POST">
        <div class="form-group m-2">
            <label for="exampleInputEmail1">Username</label>
            <input name="username" required type="text" class="form-control" id="InputEmail"
                aria-describedby="emailHelp" placeholder="Enter username">
            <p id="usernameAlert" class="red">placeholder text</p>
        </div>
        <div class="form-group m-2">
            <label for="exampleInputPassword1">Password</label>
            <input name="password" required type="password" class="form-control" id="InputPassword"
                placeholder="Enter password">
            <p id="passwordAlert" class="red">placeholder text</p>
        </div>
        <div class="container-fluid m-2 d-flex flex-column justify-content-center align-items-center">
            <p id="loginAlert" class="red text-center">placeholder text</p>
            <button id="custom-button" type="submit" class="btn btn-primary m-2">Submit</button>
        </div>
    </form>
</div>
