.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sub-container{
  width: 80vw;
  height: 20vh;
  background-color: rgb(106, 106, 222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
}
.text-white{
  color: white;

}